#header {
    font-family: 'Satisfy', cursive;
    text-align: center;
    margin-top: 50px;
}

.image {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

ul > li {
    color:black;
    list-style-type: none;
    text-align: center;
    margin-left: -30px;
}

ul > li > a {
    color:white;
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;
    font-size: larger;
    text-align: center;
    background-color: black;
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    
}

ul > li > a:visited {
    color:white;
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;
    font-size: large;
    text-align: center;
    background-color: black;
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
}

body > h2 {
    color:black;
    list-style-type: none;
    font-size: x-large;
    margin-left:100px;
    font-family: 'Catamaran', sans-serif;
}

body > h3 {
    color:black;
    list-style-type: none;
    font-size: large;
    margin-left:100px;
    margin-bottom: 50px;
    font-family: 'Catamaran', sans-serif;
}

.p1 {
    color:black;
    list-style-type: none;
    font-size: large;
    margin-left:100px;
    font-family: 'Catamaran', sans-serif;
}

#input {
    margin-left: 100px;
}

.result { 
    color:black;
    list-style-type: none;
    font-size: large;
    margin-left:100px;
    font-family: 'Catamaran', sans-serif;
}